body {
    background: rgba(196, 236, 184, 0.678);
}
#bodyConfirmation {
    background: rgb(241, 233, 233);
}
.container-footer {
    background: rgb(196, 236, 184);
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.54);
}
.card {
    margin: 20px 0px;
} 
.imgMenu {
    height: 190px;
}
#imgBg {
    width: 100%;
}
i {
    font-size: 27px;
}
.link, .btn-back {
    text-decoration: none;
    color: black;
}
.link:hover, .btn-back:hover {

    color:black;
}

section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
       
}
#section_panier {
    display: block;
    margin-top: 25px;
}
#numbrePanier {
    position: absolute;
    top: 18px;
    right: 9px;
    font-family: cursive;
    font-size:larger ;
    display: flex;
    justify-content: center;
    padding: 1px;
    width: 25px;
    background: rgb(240, 0, 0);
    border-radius: 20px;
    zoom: 80%;
}
.priceProduit_panier {
    margin-top: 15px;
}
.priceProduit_panierTotal {
    margin-left: 70px;    
   
   
}
.card-title { 
    display: flex;
    justify-content: center;
}

.numberVisible {
    visibility: hidden;
}
.orderId {     
    background: linear-gradient(90deg, rgba(251,123,63,0.9388349089635855) 6%, rgba(94,70,252,1) 88%);
    padding: 0px 2px;
}