body {
    background: rgba(196, 236, 184, 0.678);
}
.container-footer {
    background: rgb(196, 236, 184);
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.54);
}
.card {
    margin: 20px 0px;
} 
img {
    height: 190px;
}
i {
    font-size: 20px;
}
.link, .btn-back {
    text-decoration: none;
    color: black;
}
.link:hover, .btn-back:hover {

    color:black;
}

section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
       
}