 body {
    animation: color-change-2x 3s linear infinite alternate both;
 } 
 #section_page {
    animation: rotate-diagonal-bl 0.5s linear both;
 }
 
 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
// jjjjjjjjjjjjjjjjjjjjjjjjjjj
@-webkit-keyframes rotate-diagonal-bl {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
            transform: rotate3d(1, 1, 0, 360deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes rotate-diagonal-bl {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
            transform: rotate3d(1, 1, 0, 360deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
